{% extends "_base.htm" %}

{% block title %}
	Ajax Data
{% endblock %}

{% block bodycontent %}
<head>
</head>
<body>


<!-- ########## Data For Each Scenario ########## -->
<div class="container">
	ScenarioData:

	<table class="table td">

	<!-- Header Row -->
	<tr>
	<th>Usernum</th>
	<th>Account</th>
	<th>Scenario</th>

	<th>CommonDrug(L/R)</th>
	<th>LeftDrugName</th>
	<th>RightDrugName</th>
	<th>LeftDrugColor</th>
	<th>RightDrugColor</th>
	<th>Judgment</th>

	</tr>

	<!-- Subsequent Rows -->
	{% for i in c %}
	<tr>
	<th>{{ i.usernum }}</th>
	<th>{{ i.account }}</th>
	<th>{{ i.scenario }}</th>

	<th>{{ i.commonDrug }}</th>
	<th>{{ i.leftDrugName }}</th>
	<th>{{ i.rightDrugName }}</th>
	<th>{{ i.leftDrugColor }}</th>
	<th>{{ i.rightDrugColor }}</th>
	<th>{{ i.drugJudgment }}</th>
	


	</tr>
	{% endfor %}
	</table>
</div>





</body>
{% endblock %}





