{% extends "_base.htm" %}

{% block title %}
    Medication Task
{% endblock%}

{% block bodycontent %}




<body data-spy="scroll" data-target=".navbar" data-offset="120">
    <!-- Navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <p class="navbar-text">Medication Task</p> 
            </div>
        </div>
    </nav>
    
    <div id="containerDiv" style="width:800px; display: none" class="container well">

        <div class="section">
            <div id="taskDisplay">
                <div class="text-center">
                    <div id="judgmentDiv" class="text-center">
                        <h2>Which drug is WORSE for patient outcomes?</h2>
                        <!-- find a place for the patient impact info here -->
                        <div id="causalSlider">
                            <p>Between these two drugs, <b><span name="drugA_Name">Drug A</span></b> and <b><span name="drugB_Name">Drug B</span></b>, which one do you think results in worse treatment outcomes?</p>

                            <div class="row">
                                <div class="col-xs-2"></div>
                                <div class="col-xs-2 text-center">
                                    <div style="height:15px"></div>
                                    <span name="drugA_Name">Drug A</span><br>
                                    <img id="drugA_Image" src="/static/images/LightBlue.png" style="width:100px"/>
                                </div>
                                <div class="col-xs-4">
                                    <div style="height:45px"></div>

                                    <input id="strengthSlider" style="display:none"data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="10"/>
                                            
                                </div>
                                <div class="col-xs-2 text-center">
                                    <div style="height:15px"></div>
                                    <span name="drugB_Name">Drug A</span><br>
                                    <img id="drugB_Image" src="/static/images/LightBlue.png" style="width:100px"/>
                                </div>
                                <div class="col-xs-2"></div>
                                
                                
                            </div>

                        </div>
                        <br>
                        <div id="buttonDiv" class="text-center">
                            <button id="nextButton" class="btn btn-default">Next</button>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>

        <!-- ajax form to send tbt data to datastore -->
        <form id="dataform" method="post" action="/AjaxCausalTest">
            
            <input id="judgmentInput" name="judgmentInput" type="hidden"> <!-- out of 20 -->
            
                <!-- data[13] -->
            <input id="Submit" onclick="mySubmit()" value="Submit" type="hidden">
        </form>

        <!-- form to advance to scenario -->
        <form id="submitFormOrderZero" method="post" action="/secondJudgment" class="hidden">
            <input type="submit" value="" class="hidden"/>
        </form>

        <form id="submitFormOrderOne" method="get" action="/secondJudgment" class="hidden">
            <input type="submit" value="" class="hidden"/>
        </form>
            
        

    </div>
</body>
        
        
      



<script>

$(document).ready(function(){


// don't forget to randomize placement!
    // left or right
    // drug name with color

    var main = {
        // main should be the overall page function, data, etc.

        init: function(){
            this.drugNames = ['XF702', 'BT339', 'GS596', 'PR242']
            this.drugs = {{drugs}}

            this.drugA_Name = String(this.drugNames[this.drugs[0]])
            this.drugB_Name = String(this.drugNames[this.drugs[1]])
            
            main.colors = {{drugColors}} // this is the order from the backend, something like [3,1]

            main.drugColors = ['/static/images/LightBlue.png', 
                '/static/images/DarkBlue.png',
                '/static/images/Orange.png',
                '/static/images/Purple.png']
            
            main.drugA_color = String(main.drugColors[main.colors[0]])
            main.drugB_color = String(main.drugColors[main.colors[1]])

            main.position = {{position}} 
            // main.position = 0 // testing
            // if main.position = 0, drug A was the most common drug
            // if main.position = 1, drug B was the most common drug

            // main.position is complicated...In both of the data files, 0 is the most common drug ID (Drug A). If main.position is zero, 1 becomes the most common drug ID in the data. Either way, we think of "Drug A" as the common drug, in keeping with "Group A" in the literature. What I've done here (might be a mistake, because it's a little confusing) is to always call the drug on the left side of the screen "Drug A". So Drug A here (and in the TBT scenario page) is just the drug that was on the left, NOT the most common drug. If main.position = 0, the drug on the left is more common. If main.position = 1, the drug on the right is more common. 

            // variables
            // main.paradigmData = {{paradigmData}}
            // main.groupData = {{groupData}} // 0 is A, 1 is B
            // main.trialNumber = 0
            // main.assets = 100+main.paradigmData[main.trialNumber]
            // main.accuracyBonus = 0
            // main.guesses = new Array()
            // main.attentionFails = 0 // resets every trial
            
            // cache DOM
            this.cacheDOM()
            this.render()
            this.bindEvents(main.drugA_Name, main.drugB_Name) // for the tooltips, it's important that this happens AFTER the render. Not sure why.
            

        },

        cacheDOM: function(){   
            this.$co = $('#containerDiv') // container div
            this.$drugA_Spans = this.$co.find('span[name=drugA_Name]')
            this.$drugB_Spans = this.$co.find('span[name=drugB_Name]')

            this.$nextButton = this.$co.find('#nextButton')
            

            main.$leftDrugNameInput = main.$co.find('#leftDrugNameInput')
            main.$rightDrugNameInput = main.$co.find('#rightDrugNameInput')
            main.$commonDrugInput = main.$co.find('#commonDrugInput')
            main.$leftDrugColorInput = main.$co.find('#leftDrugColorInput')
            main.$rightDrugColorInput = main.$co.find('#rightDrugColorInput')
            main.$judgmentInput = main.$co.find('#judgmentInput')

            this.$strengthSlider = this.$co.find('#strengthSlider')
           

            this.$drugA_Image = this.$co.find('#drugA_Image')
            this.$drugB_Image = this.$co.find('#drugB_Image')

            this.$dataform = this.$co.find('#dataform')




            this.$drugA_Total = this.$co.find('#drugA_Total')
            this.$drugB_Total = this.$co.find('#drugB_Total')

            this.$drugA_Button = this.$co.find('#drugA_Button')
            this.$drugB_Button = this.$co.find('#drugB_Button')

            this.$drugA_textInput = this.$co.find('#drugA_textInput')
            this.$drugB_textInput = this.$co.find('#drugB_textInput')


        },

        render: function(){
            main.$drugA_Spans.text(String(main.drugA_Name))
            main.$drugB_Spans.text(String(main.drugB_Name))

            main.$drugA_Image.attr('src', main.drugA_color)
            main.$drugB_Image.attr('src', main.drugB_color)

            main.$co.show()
            
        },


        bindEvents: function(leftName, rightName){

            // click div, show button
            // main.$drugA_Slider_Div.unbind().on('click', main.enableDrugA_Button)
            // main.$drugB_Slider_Div.unbind().on('click', main.enableDrugB_Button)

            // buttons
            main.$nextButton.on('click', main.mySubmit)

            // sliders
            $('#strengthSlider').slider({
                formatter: function(value) {
                    if(value < 4){
                        return leftName+' is much worse'    
                    }else if(value < 10){
                        return leftName+' is worse'    
                    }else if(value == 10){
                        return 'They have equal outcomes'
                    }else if(value > 16){
                        return rightName+' is much worse'
                    }else{
                        return rightName +' is worse'
                    }
                    
                }
            });
        },

        getTrialStartTime: function(){
            var trialDate = new Date()
            main.trialStartTime = trialDate.getTime()
        },

        enableDrugA_Button: function(){
            main.$drugA_Button.css('visibility', 'visible')
        },

        enableDrugB_Button: function(){
            main.$drugB_Button.css('visibility', 'visible')
        },

        initializeSlider: function(object, number){
            object.slider({
                formatter: function(value) {
                    return value+'/'+number+' BAD outcomes';
                }
            });
        },

        sendAjax: function(progress, drug, max, value){
            
            // if(drug == 'A'){
            //     if(main.position == 0){
            //         $('#drugInput').val('Common')
            //         //console.log('Common Drug (Left)')
                    
            //     }else{
            //         $('#drugInput').val('Rare')
            //         //console.log('Rare Drug (Left)')
                    
            //     }
            //     var color = main.drugA_color
            //     var drugName = main.drugA_Name

            // }else if(drug == 'B'){
            //     if(main.position == 0){
            //         $('#drugInput').val('Rare')
            //         //console.log('Rare Drug (Right)')
                    
            //     }else{
            //         $('#drugInput').val('Common')
            //         //console.log('Common Drug (Right)')
                    
            //     }
            //     var color = main.drugB_color
            //     var drugName = main.drugB_Name
            //     // alert('send Ajax function, drug '+String(drug)+ ' is '+String(value))
            // }

            // //console.log('Judgment number: '+String(main.progress+1))
            // //console.log('Drug Name: '+String(drugName))
            // //console.log('Judgment: '+String(value))

            // if(color == '/static/images/DarkBlue.png'){
            //     //console.log('Color: Dark Blue')
            // }else if(color == '/static/images/LightBlue.png'){
            //     //console.log('Color: Light Blue')
            // }else if(color == '/static/images/Orange.png'){
            //     //console.log('Color: Orange')
            // }else if(color == '/static/images/Purple.png'){
            //     //console.log('Color: Purple')
            // }
            
            // $('#drugNameInput').val(drugName)
            // $('#drugColorInput').val(color)
            // $('#judgmentInput').val(value)
            // $('#judgmentNumberInput').val(main.progress+1)

                // <input id="drugInput" name="drugInput" type="hidden"> <!-- common or rare -->
                // <input id="drugNameInput" name="drugNameInput" type="hidden">
                // <input id="drugColorInput" name="drugColorInput" type="hidden">
                // <input id="judgmentInput" name="judgmentInput" type="hidden"> <!-- out of 100 -->
                // <input id="judgmentNumberInput" name="judgmentNumberInput" type="hidden"> <!-- 1st or second -->
            // send to back end with ajax
            $.ajax({
             url:"/AjaxTest",
             data: main.$dataform.serialize(),
             dataType: 'json',
             type: "POST",
             cache: false,
             // error: function() {alert("Error")},
             // success: function() {alert("Success")}
            });
        },

        mySubmit: function(){
            var value = main.$strengthSlider.val()

            
            main.$judgmentInput.val(value)
            

            $.ajax({
             url:"/AjaxCausalTest",
             data: main.$dataform.serialize(),
             dataType: 'json',
             type: "POST",
             cache: false,
             // error: function() {alert("Error")},
             // success: function() {alert("Success")}
            });


            if({{testOrder}} == 0){
                $('#submitFormOrderZero').submit()       
            }else{
                $('#submitFormOrderOne').submit()       
            }
            
        },

        startTimer: function(){
            start = new Date();
            return start.getTime(); 
        }
            
    }






    main.init()




})
 </script>
{% endblock %}